@charset "utf-8";
body{
  margin: 0;
}
header{
  background: rgb(255, 223, 229);
  text-align: center;
  padding: 32px 0;
}

header img{
  border-radius: 20%;

}

h1{
  margin: 16px 0 0;
  font-weight: normal;
  font-size:24px;
}

main{
  padding: 64px 0;
}

h2 {
  margin: 0;
  font-weight: normal;
  font-size: 24px;
  text-align: center;
}

h3 {
  margin: 0;
  font-weight: normal;
  font-size: 20px;
}
section{
  width:300px;
  margin:64px auto 0;
}

section p{
  line-height: 1.6;
  margin-top: 12px;
}
footer{
  border-top:1px solid #ccc;
  text-align:center;
  padding: 64px 0;
}
small {
  font-size: 14px;
  color:gray;
}
.box{

  width: 100px;
  height: 100px;
  margin:0 auto;

}
.box1{
  background-color: rgb(0, 255, 132);
  transition-property: border-radius transform;
  transition-duration:1s;
}

.box2{
  background-color: rgb(255, 0, 85);
  /* transition-duration:1s;
  transition-timing-function:ease; */
  transition: transform 2s ease;
}
.box3{
  transition:transform 5s,border-radius 1s;
  background-color: rgb(251, 255, 0);
}

.box4{
  background-color: rgb(59, 59, 56);
  animation-name:move-around;
  animation-duration: 1s;
  animation-iteration-count:infinite;
}

@keyframes move-around {
  25% {
    transform: translate(100px, 0);
    border-radius: 0;
  }
  50% {
    transform: translate(100px, 100px);
    border-radius: 50%;
  }
  75% {
    transform: translate(0, 100px);
    border-radius: 0;
  }
}

.box1:hover{
  border-radius: 30%;
  opacity: .7;
  transform:rotate(45deg) translate(40px, -40px) ;

}

.box2:hover{
  transform:translateX(300px);
}

.box3:hover{
  transform:translateX(300px);
  border-radius: 50%;
}
a:hover{
  opacity: .7;
}